<h2 class="section-title"><img src="{{ .big_logo }}" height="100px"> {{ .titles.intro }}</h2>
<div style="display: flex; align-items: center;">
  <p itemprop="description" style="width: 70%;">{{ .intro.text }}</p>
  <div style="width: 30%; margin-left: 20px; text-align: center;">
      <img src="https://onspatial.github.io/GeoAnomalies24/images/acmsigspatial-full.png" alt="GeoAnomalies Image" style="width: 100%;">
      <p style="font-size: 0.9em; margin-top: 5px;">This is a dog</p>
    </div>
</div>
